@page
@model Parthiv_project.Pages.ChannelPageModel
@{
}

<div class="title-img-cp">
    <img src="~/Icons/Screenshot 2023-04-02 015854.png" />
</div>

<div class="videos-cp">
    
    <div class="Glass-piramid">
        <a href="https://www.youtube.com/watch?v=g0Abf2hRybA">
        <img src="http://img.youtube.com/vi/g0Abf2hRybA/hqdefault.jpg" />
        <p>Glass Piramid </p>
        </a>
    </div>
</div>