@page
@model Parthiv_project.Pages.ChannelPageModel
@{
}

<div class="title-img-cp">
    <img src="~/Icons/Screenshot 2023-04-02 015854.png" />
</div>

<div class="videos-cp">
    <div class="Glass-piramid">
        <a href="https://www.youtube.com/watch?v=g0Abf2hRybA">
            <img src="http://img.youtube.com/vi/g0Abf2hRybA/hqdefault.jpg" />
            <p>Glass Piramid </p>
        </a>
    </div>
    <div class="Bottle-flip">
        <a href="https://www.youtube.com/watch?v=gcGsh5Rl70o">
            <img src="http://img.youtube.com/vi/gcGsh5Rl70o/hqdefault.jpg" />
            <p>Bottle flip</p>
        </a>
    </div>
    <div class="Bottle-art">
        <a href="https://www.youtube.com/watch?v=zXy7e_KyKdA">
            <img src="http://img.youtube.com/vi/zXy7e_KyKdA/hqdefault.jpg" />
            <p>Bottle art tutorial</p>
        </a>
    </div>
    <div class="flower-blooming">
        <a href="https://www.youtube.com/watch?v=g1_d2Ar37HU">
            <img src="http://img.youtube.com/vi/g1_d2Ar37HU/hqdefault.jpg" />
            <p>Flower Blooming timelaps</p>
        </a>
    </div>
    <div class="Domino-building">
        <a href="https://www.youtube.com/watch?v=-5H18_7PbDY">
            <img src="http://img.youtube.com/vi/-5H18_7PbDY/hqdefault.jpg" />
            <p>Domino Building</p>
        </a>
    </div>
    <div class="Domino">
        <a href="https://www.youtube.com/watch?v=xHN14_qGBMQ">
            <img src="http://img.youtube.com/vi/xHN14_qGBMQ/hqdefault.jpg" />
            <p>Domino</p>
        </a>
    </div><div class="Bottle-art-p2">
        <a href="https://www.youtube.com/watch?v=XJCgWxB4RSk">
            <img src="http://img.youtube.com/vi/XJCgWxB4RSk/hqdefault.jpg" />
            <p>Bottle art tutorial Part 2</p>
        </a>
    </div>
    <div class="projector-making">
        <a href="https://www.youtube.com/watch?v=99DToibbYnY">
            <img src="http://img.youtube.com/vi/99DToibbYnY/hqdefault.jpg" />
            <p>How to make a projector</p>
        </a>
    </div>
    <div class="gluegun">
        <a href="https://www.youtube.com/watch?v=_NLtq18td9U">
            <img src="http://img.youtube.com/vi/_NLtq18td9U/hqdefault.jpg" />
            <p>How to operate gluegun</p>
        </a>
    </div>
    <div class="battery">
        <a href="https://www.youtube.com/watch?v=g3DXlSwImUY">
            <img src="http://img.youtube.com/vi/g3DXlSwImUY/hqdefault.jpg" />
            <p>what is inside a battery</p>
        </a>
    </div>
    <div class="Stellarium-p1">
        <a href="https://www.youtube.com/watch?v=avr_xCSUakw">
            <img src="http://img.youtube.com/vi/avr_xCSUakw/hqdefault.jpg" />
            <p>stellarium tutorial part 1 </p>
        </a>
    </div>
    <div class="Stellarium-p2">
        <a href="https://www.youtube.com/watch?v=gA-kcZndzhI">
            <img src="http://img.youtube.com/vi/gA-kcZndzhI/hqdefault.jpg" />
            <p>Stellarium part 2</p>
        </a>
    </div>
    <div class="Stellarium-p3">
        <a href="https://www.youtube.com/watch?v=0J9ojVksvIw">
            <img src="http://img.youtube.com/vi/0J9ojVksvIw/hqdefault.jpg" />
            <p>Stellarium part 3</p>
        </a>
    </div>
    <div class="blender-p1">
        <a href="https://www.youtube.com/watch?v=YV1IuvM1IWc">
            <img src="http://img.youtube.com/vi/YV1IuvM1IWc/hqdefault.jpg" />
            <p>Blender tutorial part1</p>
        </a>
    </div>
    <div class="theater">
        <a href="https://www.youtube.com/watch?v=LjVfwQ6-d_U">
            <img src="http://img.youtube.com/vi/LjVfwQ6-d_U/hqdefault.jpg" />
            <p>Going to theater</p>
        </a>
    </div>
    <div class="blender-p2">
        <a href="https://www.youtube.com/watch?v=h76ODd3CUC0">
            <img src="http://img.youtube.com/vi/h76ODd3CUC0/hqdefault.jpg" />
            <p>Blender part 2</p>
        </a>
    </div><div class="blender-p3">
        <a href="https://www.youtube.com/watch?v=0TxELw3AMyM">
            <img src="http://img.youtube.com/vi/0TxELw3AMyM/hqdefault.jpg" />
            <p>Blender part 3</p>
        </a>
    </div>
    <div class="puzzle">
        <a href="https://www.youtube.com/watch?v=Mgzi6UP_2FU">
            <img src="http://img.youtube.com/vi/Mgzi6UP_2FU/hqdefault.jpg" />
            <p>Solving a puzzle</p>
        </a>
    </div>
    <div class="paper-plain">
        <a href="https://www.youtube.com/watch?v=jeDcUtvFYAo">
            <img src="http://img.youtube.com/vi/jeDcUtvFYAo/hqdefault.jpg" />
            <p>How to make a paper plain</p>
        </a>
    </div>
    <div class="paper-boat">
        <a href="https://www.youtube.com/watch?v=hL7awOSJ3YI">
            <img src="http://img.youtube.com/vi/hL7awOSJ3YI/hqdefault.jpg" />
            <p>How to make a paper boat</p>
        </a>
    </div>
</div>