@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="page-container">
    <img src="~/Icons/Screenshot 2023-04-02 015854.png" />
    <div class="signin">
        <img src="~/Icons/signin-logo.png" />
    </div>

    <div class="search-box">
        <div class="custom-div">
            <img src="~/Icons/magnifying-glass.svg" />
            <p>Search Box</p>
        </div>

    </div>

    <div class="page-buttons">
        <a href="/ChannelPage" class="page-button">
            <div class="img-container">
                <img src="~/Icons/youtube-logo.png" />
            </div>
            <p>
                Channel pages
            </p>
        </a>

        <a href="/Store" class="page-button">
            <div class="img-container">
                <img src="~/Icons/shopping-cart-logo.png" />
            </div>
            <p>
                Store
            </p>
        </a>

        <a href="/Chat" class="page-button">
            <div class="img-container">
                <img src="~/Icons/Chat-logo.png" />
            </div>
            <p>
                Chat
            </p>
        </a>
    </div>
</div>
